@model Thoujour.Models.Thought

<div class="list-group">
    @if (Model.Blocks != null)
        @foreach (Block block in Model.Blocks)
        {
            <div class="list-group-item rounded-2">
                <h3>@block.Title</h3>
                @if (block.B64Img != null)
                {
                    <img src="@block.B64Img" alt="picture" />
                }
                <p>@block.Text</p>
            </div>
        }
</div>
</hr>
<div class="list-group p-2 mt-2">
    <h5 class="p-2">Comments</h5>
    @if (Model.Comments != null)
        @foreach (Comment comment in Model.Comments)
        {
            <div class="list-group-item p-2 rounded-4">
                <h6>@(comment.UserName ?? "")</h6>
                <p>@comment.Text</p>
                <small>@comment.Date.ToLongDateString()</small>
            </div>
        }
</div>
