@model Thoujour.Models.Thought

<div class="list-group">
    @if (Model.Blocks != null)
        @foreach (Block block in Model.Blocks)
        {
            <div class="list-group-item rounded-2">
                <h3>@block.Title</h3>
                @if (block.B64Img != null)
                {
                    <img src="@block.B64Img" alt="picture" />
                }
                <p>@block.Text</p>
            </div>
        }
</div>
<div class="list-group p-2 mt-2">
    <h6>Comments</h6>
    @if (Model.Comments != null)
        @foreach (Comment comment in Model.Comments)
        {
            <div class="list-group-item rounded-3">
                <h3>@(comment.UserName ?? "")</h3>
                <p>@comment.Text</p>
                <p>@comment.Date.ToLongDateString()</p>
            </div>
        }
</div>
