@model IEnumerable<Thoujour.Models.Thought>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? id = (int?)ViewData["Id"];
}

<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 300px;">
    <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-2 fw-semibold">List group</span>
    </a>
    <div class="list-group list-group-flush overflow-auto border-bottom scrollarea">
        @foreach (Thought thought in Model)
        {
            <a href="/Thoughts/Index/@thought.Id" class="list-group-item list-group-item-action py-3 lh-tight @(thought.Id == id ? "active" : "")" @(thought.Id == id ? "aria-current=true" : "")>
                <div><strong class="mb-1">@thought.Title</strong></div>
                <div><small class="mb-1">@thought.Description</small></div>
            </a>
        }
    </div>
</div>
<div class="flex-grow-1 bg-info">
    @await Html.PartialAsync("_ThoughtPartial", Model.Where(t => t.Id == id).FirstOrDefault()?.Blocks ?? new List<Block>())
</div>
<div>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
